html, body {
  background: #fff;
  color: #fff;
  height: 100%;
  margin: 0;
  width: 100%;
}

body, button, input, select, textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.section-login {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  left: 50%;
  padding: 1.25rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  background-color: #3273dc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  margin: -1.25rem -1.25rem 1.5rem;
  padding: 1.25rem;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

.form-block {
  margin: 0.5rem 0;
  position: relative;
}

.block-extra {
  margin-top: 1.5rem;
}

button {
  background-color: #209cee;
  border-radius: 4px;
  border: 1px solid #209cee;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 2.25em;
  justify-content: center;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

button:hover {
  background-color: #1496ed;
  border-color: transparent;
  color: #fff;
}
button:focus {
  border-color: transparent;
  box-shadow: 0 0 0.5em rgba(32, 156, 238, 0.25);
  color: #fff;
}
button:active {
  background-color: #118fe4;
  border-color: transparent;
  color: #fff;
}

.button-alt {
  background: white;
  border-color: #dbdbdb;
  color: #363636;
}

.button-alt:hover {
  background: white;
  border-color: #b5b5b5;
  color: #363636;
}
.button-alt:focus {
  border-color: #3273dc;
  color: #363636;
}
.button-alt:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button-alt:active {
  background: white;
  border-color: #4a4a4a;
  color: #363636;
}

input {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-sizing: border-box;
  color: #363636;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  max-width: 100%;
  padding: calc(0.375em - 1px) calc(0.625em - 1px);
  width: 100%;
}

input:hover {
  border-color: #b5b5b5;
}
input:focus {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.messages {
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  left: 50%;
  opacity: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -16rem);
  z-index: 10;
}

.messages-success {
  animation: messages-show 6s none;
  background:#00d1b2;
}
.messages-error {
  animation: messages-show 6s none;
  background:#d13200;
}

@keyframes messages-show {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner {
  background: rgba(255, 255, 255, 0.75);
  height: 50px;
  left: 50%;
  opacity: 0;
  padding: calc(50vh - 25px) calc(50vw - 50px);
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 5;
}
.spinner.visible {
  animation: spinner-visible 1s forwards;
}
.spinner.hidden {
  animation: spinner-hidden 1s forwards;
}

.spinner > div {
  animation: spinner-loop 1.4s infinite ease-in-out both;
  background-color: #209cee;
  border-radius: 100%;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes spinner-loop {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
@keyframes spinner-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinner-hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
